body {
  font-family: "Merriweather", "Noto Sans SC", serif, sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #111111;
}

a {
  color: #001f3f;
}

span.lang-select {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

div.grid {
  display: grid;
  grid-column: 1;
  grid-template-columns: 20vw 50vw 30vw;
  grid-template-rows: auto;
  grid-template-areas:
    "headshot bio  contact"
    "pubs     pubs pubs   ";
}

div.headshot {
  grid-area: headshot;
  padding: 2rem;
  background-image: url("headshot.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
}

div.bio {
  grid-area: bio;
  padding-right: 0;
}

div.pubs {
  grid-area: pubs;
}

div.contact {
  grid-area: contact;
}

div.grid >div {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
  padding-top: 1.5rem;
}

div.bio > h1 {
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul > li {
  line-height: 2rem;
}

img.headshot {
  display: none;
}

@media screen and (max-width: 1400px) {
  div.grid {
    grid-template-columns: 100%;
    grid-template-areas:
      "bio    "
      "contact"
      "pubs   ";
  }

  div.headshot {
    display: none;
  }

  img.headshot {
    display: block;
    max-width: 20vw;
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  div.grid {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 800px) {
  img.headshot {
    display: block;
    max-width: min(400px, 100%);
    float: none;
    margin: auto;
  }

  div.pubs {
    font-size: 0.85rem;
  }
}